.grid {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 80px;
    margin: 0;
}

.yeah {
    border: 1px solid black;
    margin: 0;
    height: 80px;
    width: 80px;
    font-size: 10px;
}